{% extends "base.html" %}

{% block title %}Page de tous les utilisateurs{% endblock %}

{% block head %}
    {{ super() }}   
    <style>
    </style>
{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Utilisateurs</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">User</th>
              <th scope="col">Role</th>
              <th scope="col">View Profile</th>
            </tr>
        </thead>
       
        {% for user in users -%}
        
            <tr>
              <th scope="row">{{loop.index}}</th>  
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.role.name}}</td>
              <td>
                
                <a href="{{url_for('user',user=user.username)}}"  ><i class="bi bi-info-square-fill"></i></a>
                <!-- <a href="/{{ user.username }}"  ><i class="bi bi-info-square-fill"></i></a>  -->
                
                <form style="display:inline" action="{{url_for('user',user=user.username)}}" method="get">
                  <button class="btn btn btn-outline-secondary" type="button" onclick="return">
                    <i class="bi bi-info-square-fill"></i>
                  </button>
                </form>
                &nbsp; 
                
                <form style="display:inline" action="{{url_for('delete',id=user.id)}}" method="post">
                  <button class="btn btn btn-outline-secondary" type="button"
                          onclick="return confirm('Delete user?')">
                    <i class="bi bi-x-circle-fill"></i>
                  </button>
                </form>
              
                </td>
            </tr>
        
        {%- endfor %}
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <a href="{{url_for('index')}}"  ><i class="bi bi-person-fill-add"></i></a>
              </td>
              
            </tr>


    </table>  
    
  </div>

{% endblock %}